@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --white--bg:#fcf6f6;
    --cor:#432e13;
    --bg:#d0c9ad;
    --black:#192a56;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.5);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik',sans-serif;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background-color: var(--bg);
    color: white;
}
::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor);
    border-radius: .5rem;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background-color: var(--bg);
}
header{
    position: fixed;
    top: 0;right: 0;left: 0;
    padding:1.5rem 7% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: var(--white--bg);
    box-shadow: var(--box-shadow);
}
section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.heading img{
    height: 3rem;
    margin-bottom: 1rem;
}
.heading h3{
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One';
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--cor);
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
    padding: 1rem 3rem;
}
.btn:hover{
    color: var(--cor);
    background-color: var(--white--bg);
}
.header .logo {
  font-size: 2.5rem;
  font-family: 'Merienda One';
  color: var(--cor);
  
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--black);
    
}
.header .navbar a:hover{
    color: var(--bg);
    border-bottom: .1rem solid var(--bg) ;
    padding-bottom: .5rem;
}
.header .icons i{
   cursor: pointer;
   margin-left: .5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 4.5rem;
   font-size: 1.5rem;
   border-radius: 50%;
   color: var(--cor);
   background: #ccc;
   text-align: center;
}
.header .icons i:hover{
    background: var(--bg);
    color: var(--white--bg);
    transform: rotate(360deg);
}
/* inicio home */
.home-bg{
    background:linear-gradient(90deg,var(--white--bg),transparent),url(../images/pãoaa.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
    
}
.home-bg .home{
    min-height: 70rem;
    display: flex;
    align-items: center;
}
.home-bg .home .content{
    width: 50rem;
    text-align: center;
    margin-top: 6rem;
    margin-left: 10rem;
}
.home-bg .home .content h3{
    font-size: 6rem;
    color: var(--cor);
    font-family: 'Merienda One' , 'Rubik';
}
.home-bg .home .content p{
    padding: 1rem 0;
    font-size: 1.3rem;
    color: var(--black);
    line-height: 2;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .image{
    flex: 1 1 40rem;
}
.about .image img{
    width: 100%;
}
.about .content{
    flex: 1 1 40rem;
}
.about .content h3{
    font-size: 3rem;
    font-family: 'Merienda One';
    color: var(--black);
}
.about .content p{
    padding: 1rem 0;
    line-height: 2;
    color: var();
    font-size: 1.5rem;
}
/* inicio produtos */
.produtos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    gap: 1.5rem;
}
.produtos .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.produtos .box-container .box .fa-heart,
.produtos .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}
.produtos .box-container .box .fa-heart:hover,
.produtos .box-container .box .fa-eye:hover{
    background-color: var(--bg);
    color: white;
}
.produtos .box-container .box .fa-heart{
    right: -15rem;
}
.produtos .box-container .box .fa-eye{
    left: -15rem;
}
.produtos .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.produtos .box-container .box:hover .fa-eye{
    left: 1.5rem;
}
.produtos .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}
.produtos .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.produtos .box-container .box .stars{
    padding: 1rem 0;
}
.produtos .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--bg);
}
.produtos .box-container .box span{
    color: var(--cor);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
/* inicio contato */
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact .row .image{
    flex: 1 1 50rem;
}
.contact .row .image img{
    width: 100%;
}
.contact .row form{
    flex: 1 1 30rem;
    border: 1px solid var(--black);
    padding: 2rem;
    text-align: center;
}
.contact .row form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black);
}
.contact .row form .box{
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    margin: 1rem 0;
    border: 1px solid var(--black);

}
.contact .row form textarea{
    width: 100%;
    border: 1px solid var(--black);
} 
/* inicio footer */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.footer .box-container .box{
    text-align: center;
}
.footer .box-container .box i{
    font-size: 2.5rem;
    line-height:6rem ;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color:var(--cor);
    color: var(--bg);
    margin-bottom: .5rem;
}
.footer .box-container .box h3{
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--black);
}
.footer .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--black);
}
.footer .credit{
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;
    border-top: 1px solid var(--black);
    font-size: 2rem;
    color: var(--black);
}
.footer .credit span{
    color: var(--cor);
}